---
import BaseLayout from "../layout/BaseLayout.astro";
import Hero from "../components/Hero.astro";

---

<BaseLayout
   title="Mecanizado CNC y Utillaje Castilla la Mancha "
   description="Mecanizado y utillaje industrial en Talavera de la Reina. Piezas a medida con alta precisión, entrega rápida y precio competitivo."
>
<Hero
title="IMAF · Mecanizados y Utillajes"
description="Fabricamos piezas industriales con precisión micrométrica y soluciones adaptadas a cada cliente."
/>
Si quieres ver mas <a class="text-blue-700" href="/servicios/mecanizado-cnc">Servicios</a>
</BaseLayout>