---
import SEO from "../components/SEO.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
  noindex?: boolean;
  localBusiness?: boolean;
}

const {
  title,
  description,
  image,
  noindex = false,
  localBusiness = false,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    <SEO title={title} description={description} image={image} />
    <meta
      name="google-site-verification"
      content="CNRWcCsBDsv_lryJD9yDsVXANMim7kbPBoXzMFtkQg4"
    />
    {
      localBusiness && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "ManufacturingBusiness",
            name: "Imaf | Mecanizados y utillaje CLM",
            address: {
              "@type": "PostalAddress",
              streetAddress: "Calle Dr. Severo Ochoa, 96R",
              addressLocality: "Talavera de la Reina",
              addressRegion: "Castilla-La Mancha",
              postalCode: "45614",
              addressCountry: "ES",
            },
            telephone: "+34925800695",
            openingHours: "Mo-Fr 08:00-17:00",
            url: "https://maquimaf.es",
          })}
        />
      )
    }
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L5WC82ZJF6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args: unknown[]) {
        window.dataLayer.push(args);
      }
      gtag("js", new Date());
      gtag("config", "G-L5WC82ZJF6");
    </script>
  </head>
  <body class="h-screen bg-zinc950 text-zinc-900 font-sans">
    <slot />
  </body>
</html>
